.etchSquare {
	background-color: rbg(0,0,0);
}

body {
	background-color: #8b0000;
}

h1{ 
	font-family: URW Chancery L, cursive;
	color: #D4AF37;
	text-shadow: 1px 2px #111;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

#buttonset {
	position: absolute;
	bottom: 20px;
	font-family: Helvetica, sans-serif;
	color: #f7e7c7;
	/*height: %;*/
}

#drawingContainer {
	border-color: "black";
}

button {
	background-color: #f7e7c7;
	border: 0px;
	border-radius: 3px;
	padding: 5px; 
	font-size: 16px;
	font-weight: bold;
}

button:hover {
	background-color: #999;
	border: 0px;
	border-radius: 3px;
	padding: 5px; 
	font-size: 16px;
	font-weight: bold;
}

input {
	background-color: #f7e7c7;
	font-size: 15px
}